/* HEADER */
header {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 40px;
    height: 40px;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 56px;
}

.header-nav a {
    display: block;
    text-decoration: none;
    color: var(--second-color);
    font-size: 2rem;
    line-height: 1.2;
}

.header-nav a::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.header-nav a:hover {
    font-weight: 600;
    text-decoration: underline;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-icon {
    font-size: 24px;
    cursor: pointer;
}

.header-icon:first-child {
    transform: translateY(2px);
}

/* CONTENT */
.content-desc {
    max-width: 631px;
    font-size: 2rem;
    color: var(--second-color);
    line-height: 1.60;
    margin: 24px auto;
    text-align: center;
}

.content-btn {
    text-align: center;
}

.content-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.image-item {
    max-width: 243px;
    height: 348px;
    overflow: hidden;
}

.image-item:nth-of-type(even) {
    border-radius: 80px 0 80px 0;
}

.image-item:nth-of-type(odd) {
    border-radius: 0 80px 0 80px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SOCIAL PROOF */
.social-proof {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 80px 0;
}

.social-item {
    width: 294px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--second-color);

}

.social-item:not(:last-child) {
    border-right: 1px solid var(--second-color);
}


.social-item span:first-child {
    font-size: 6.4rem;
    line-height: 1.2;
}

.social-item span:last-child {
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
    line-height: 1.2;
}

/* PRODUCT */
.product {
    margin-bottom: 80px;
}

.product-menu {
    width: 556px;
    padding: 8px;
    background-color: var(--bg-gray-color);
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 16px 40px;
    font-size: 2rem;
    color: var(--text-color);
    width: 180px;
    cursor: pointer;
}

.menu-title.active {
    background-color: var(--white-color);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 40px;
    display: none;
}

.product-list.active {
    display: grid;
}

.product-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0 40px 0 0;
}

.product-img {
    border-radius: 0 40px 0 40px;
    overflow: hidden;
    height: 240px;
}

.product-img img {
    transition: all 1s linear;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-img img:hover {
    transform: scale(1.3);
}

.product-content {
    padding: 16px 24px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}

.product-title {
    cursor: pointer;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.40;
    color: var(--second-color) !important;
    margin-bottom: 16px;
}

.product-reviews {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.reviews-star {
    display: flex;
    gap: 4px;
    align-items: center;
}

.reviews-star span {
    font-weight: 700;
    font-size: 2rem;
}

.product-desc {
    line-height: 1.4;
    flex: 1;
}

.product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.product-price {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}

.product-action button {
    border-radius: 8px;
    background-color: var(--primary-color);
    width: 80px;
    height: 32px;
    color: var(--white-color);
    transition: all .25s ease-in-out;
}

.product-action button:hover {
    background-color: #9f3116;
}

.product-action button i {
    font-size: 2rem;
}

/* ABOUT */
.about {
    padding-bottom: 80px;
    color: var(--second-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.about-content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-left {
    width: 50%;
}

.about-right {
    width: 50%;
    display: flex;
    gap: 24px;
}

.about-text {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 24px;
}

.about-img {
    width: 288px;
    height: 378px;
    overflow: hidden;
}

.about-img:first-child {
    border-radius: 0 120px 0 120px;
    transform: translateY(64px);
}

.about-img:last-child {
    border-radius: 120px 0 120px 0;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TESTIMONIAL */
.testimonial {
    padding-bottom: 80px;
    border-bottom: 1px solid var(--border-color);
    color: var(--second-color);
}

.feedback-list {
    display: flex;
    justify-content: space-between;
}

.feedback-item {
    width: 33.33333333333333%;
    padding: 24px 40px;
}

.feeback-user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    overflow: hidden;
}

.feedback-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback-name {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
}

.feedback-rating {
    display: flex;
    margin-top: 8px;
    gap: 4px;
}

.feeback-note {
    font-size: 2rem;
    line-height: 1.4;
    padding-top: 16px;
}

/* BLOG */
.blog {
    margin-bottom: 80px;
}

.blog-list {
    display: flex;
    gap: 32px;
}

.blog-post {
    max-width: 33.33333333333333%;
    padding: 16px;
    border-radius: 0 96px 0 40px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    color: var(--second-color);
}

.blog-img {
    height: 320px;
    border-radius: 0 80px 0 80px;
    overflow: hidden;
    margin-bottom: 16px;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.blog-user {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.4rem;
}

.blog-title {
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 16px;
}

.blog-link {
    display: flex;
    text-decoration: none;
    color: var(--second-color);
    justify-content: end;
}

.blog-link span:hover {
    text-decoration: underline;
}

.blog-btn {
    text-align: center;
}